<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://flew.gg/shear/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>sQtyLh8ArJ0nj7IAsnRgeomTL0zJTq9oRKd6FnkTUOo=</string>
</dict>
</plist>
